{% extends 'base.html' %}

{% block title %}| Update{% endblock title %}
{% block content %}

<div class='container w-50 bg-primary p-4' style="--bs-bg-opacity: .2;">
    <form method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        {{form.as_p}}
        <div class='mx-4'>
            <input type="submit" class='btn btn-success px-5' value="Update">
            <input type="reset" class='btn btn-secondary px-5' value="Reset Details">
            <a href="{% url 'create' %}"><button class='btn btn-primary px-5' type="submit">Back Home</button></a>
        </div>
    </form>
</div>


{% endblock content %}